:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection{
    background-color: hsl(185, 49%, 50%);
    color: white;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: fit-content;
  height: 100vh;
  font-size: 18px;
  background-color: var(--Dark-cyan);
  font-family: Kumbh Sans, sans-serif;
  color: var( --Very-dark-desaturated-blue);
  overflow: hidden;
}

body::before,
body::after{
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

body::before{
    background-image: url(./images/bg-pattern-top.svg);
    top: -70%;
    left: -20%;
    height: 135%;
    width: 120%;
}

body::after{ 
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: contain;
    bottom: -91%;
    right: -178%;
    height: 140%;
    width: 230%;
}

.card {
  height: 332px;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  overflow: auto;

  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06),
              0 50px 60px rgba(0, 0, 0, 0.15);
  opacity: 0;
  animation: card 500ms ease-in forwards;
}
@keyframes card{
  0%{
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  100%{
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

.details-container {
  height: 76.5%;
  background-image: linear-gradient(90deg ,darkcyan, hsl(185, 76%, 44%) );
  background-image: url(./images/bg-pattern-card.svg);
  background-size: 100% 49%;
  background-repeat: no-repeat;
  position: relative;
}

.avatar-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);

  border-radius: 50%;

  background-color: white;
  height: 94px;
  width: 94px;
  overflow: hidden;

  display: grid;
  place-items: center;
}

.avatar {
  border-radius: 50%;
  height: 86px;
  width: 86px;
  background-image: linear-gradient(90deg ,darkcyan, hsl(185, 76%, 44%) );
  font-size: .6rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.details {
  position: relative;
  width: 100%;
  text-align: center;
  top: 38%;
}

.name{
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.name:hover{
    color: hsl(185deg 72% 35%);
}

.name::after{
    content: ' 26';
    padding-top: 5px;
    padding-left: 4px;
    font-size: .95rem;
    font-weight: 400;
    color: gray;
    color: var(--Dark-grayish-blue);
}

.place{
    padding: 10px;
    font-size: .78rem;
    color: var(--Dark-gray);
}

.stats-container {
  height: 23.5%;
  border-top: 0.4px solid rgb(228, 228, 228);
}

.stats-container > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 100%;
  margin: auto 22px;
}

.stats-container > ul > li {
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    transition: transform .1s ease-in;
    padding: 20px;
}

.stats-container > ul > li:hover{
    filter: blur(0);
    transform: scale(1.04);
    color: hsl(185deg 72% 35%);
}

.stat-number{
    font-size: 1.05rem;
    font-weight: 700;
}

.stat-name{
    padding-top: 5px;
    font-size: .56rem;
    letter-spacing: 1.2px;
    color: var(--Dark-gray);
}

