:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: fit-content;
  height: 100vh;
  font-size: 18px;
  background-color: var(--Dark-cyan);
  font-family: Kumbh Sans, sans-serif;
  color: var( --Very-dark-desaturated-blue);
  overflow: hidden;
}

body::before,
body::after{
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

body::before{
    background-image:url(./images/bg-pattern-top.svg);
    top: -57%;
    left: -7%;
    height: 110%;
    width: 110%;
}

body::after{ 
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: contain;
    bottom: -95%;
    right: -175%;
    height: 140%;
    width: 230%;
}

.card {
  height: 332px;
  width: 310px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  overflow: auto;

  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06),
              0 50px 60px rgba(0, 0, 0, 0.15);
}

.details-container {
  height: 76.5%;
  background-image: url(./images/bg-pattern-card.svg);
  background-size: 100% 49%;
  background-repeat: no-repeat;
  position: relative;
}

.avatar-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  background-color: white;
  height: 95px;
  width: 95px;

  display: grid;
  place-items: center;
}

.avatar {
  border-radius: 50%;
  height: 86px;
  width: 86px;
  aspect-ratio: 1/1;
}

.details {
  position: relative;
  width: 100%;
  text-align: center;
  top: 35%;
}

.name::after{
    content: ' 26';
    font-size: 1.2rem;
    font-family: 'courier new';
    color: gray;
    color: var(--Dark-grayish-blue);
}

.name{
    font-size: 1.2rem;
}
.place{
    padding: 7px;
    font-size: .8rem;
    color: var(--Dark-gray);
}

.stats-container {
  height: 23.5%;
  border-top: 0.4px solid rgb(223, 223, 223);
}

.stats-container > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 100%;
  margin: auto 15px;
}

.stats-container > ul > li {
  list-style-type: none;
  text-align: center;
}

.stat-number{
    font-size: 1.1rem;
}

.stat-name{
    padding: 4px;
    font-size: .7rem;
    color: var(--Dark-gray);
}