*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: rgb(65, 180, 190);
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(65, 180, 190);
}

body {
  position: relative;
  margin: 0;

  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: fit-content;

  font-size: 18px;
  font-family: Kumbh Sans, "Kumbh Sans", sans-serif;
  color: rgb(45, 50, 72);
  background: none;
  background-color: rgb(25, 162, 174);

  overflow: hidden;
}

/* ===================== BACKGROUND IMAGES ======================== */

body:before,
body:after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  z-index: -1;
}

body:before {
  width: 120%;
  height: 135%;
  top: -70%;
  left: -20%;
  background-image: url(./images/bg-pattern-top.svg);
  background-size: contain;

  transform: scale(0.5);
  animation: bg1 700ms 300ms forwards;
}

@keyframes bg1 {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

body:after {
  width: 230%;
  height: 140%;
  right: -178%;
  bottom: -91%;
  background-image: url(./images/bg-pattern-bottom.svg);
  background-size: contain;

  transform: scale(0.8);
  animation: bg2 700ms 300ms forwards;
}

@keyframes bg2 {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width:60em){
  body{
    background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg), rgb(25, 162, 174);
    background-repeat: no-repeat;
    background-position: right 51vw bottom 35vh, left 51vw top 46vh;
  }
  body:before,
  body:after{
    display: none;
  }
}

/* ===================== CARD STYLES ======================== */

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  margin-top: -324px; /* -(166 + 158) */ /* 166 = half height of the card, 158 = card's translateY value*/

  width: 310px;
  height: 332px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06), 0 50px 60px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  opacity: 0;
  transition: all 0.3s;
  transform: scale(0) skew(300deg) translate(-50%, 158px);
  animation: card 500ms ease-in-out 300ms forwards;
}

@keyframes card {
  0% {
    opacity: 0;
    transform: scale(0) skew(300deg) translate(-50%, 158px);
  }
  100% {
    opacity: 1;
    transform: scale(1) skew(360deg) translate(-50%, 158px);
  }
}

.card:hover {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06), 0 5px 20px rgba(0, 0, 0, 0.15);
}

.details-container {
  position: relative;
  height: 76.5%;

  background-image: url(./images/bg-pattern-card.svg);
  background-size: 100% 49%;
  background-repeat: no-repeat;
}

.details-container:before { /* when image isn't loaded */
  content: "";
  position: absolute;
  width: 100%;
  height: 48%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgb(0, 138, 138), rgb(27, 183, 197));
  z-index: -1;
}

/* ===================== AVATAR(IMAGE) ======================== */

.avatar-container {
  position: relative;
  width: 94px;
  height: 94px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -52%);
  background-color: rgb(255, 255, 255);
  transition: all 0.15s;
  overflow: hidden;
}

.avatar-container:focus {
  outline: none;
  background-color: rgb(89, 202, 212);
}

.avatar-container:before { /* when image isn't loaded */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 50%;
  background-image: linear-gradient(90deg, rgb(0, 139, 139), rgb(27, 183, 197));
  z-index: -1;
}

.avatar {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 86px;
  height: 86px;
  font-size: 0.6rem;
  border-radius: 50%;
  background-image: linear-gradient(90deg, rgb(0, 139, 139), rgb(27, 183, 197));
  cursor: pointer;
  aspect-ratio: 1/1;

  opacity: 0;
  animation: avatar 400ms 1000ms forwards;
}

@keyframes avatar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ===================== DETAILS(NAME AND ADDRESS) ======================== */

.details {
  position: relative;
  width: 100%;
  top: 38%;
  text-align: center;
}

.name {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.name:hover,
.name:focus {
  color: rgb(25, 143, 154);
}

.name-and-age-container{
  display: inline-block;
  white-space: nowrap;
}

.age {
  display: inline-block;
  padding-top: 5px;
  padding-left: 4px;
  font-size: 0.95rem;
  font-weight: 400;
  color: rgb(106, 111, 129);
}

.place {
  padding: 10px;
  font-size: 0.78rem;
  color: rgb(150, 150, 150);
}

/* ===================== STATS(NUMBERS) ======================== */

.stats-container {
  height: 23.5%;
  border-top: 0.4px solid rgb(228, 228, 228);
}

.stats-container > ul {
  height: 100%;
  margin: auto 22px;
}

.stats-container > ul > li {
  float: left;
  width: 88px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  list-style-type: none;
  text-align: center;
  padding: 20px;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

.stats-container > ul > li:hover,
.stats-container > ul > li:focus {
  filter: blur(0);
  transform: translateY(-50%) scale(1.04);
  color: rgb(25, 143, 154);
}

.stat-number {
  display: block;
  font-size: 1.05rem;
  font-weight: 700;
}

.stat-name {
  padding-top: 12px;
  font-size: 0.63rem;
  letter-spacing: 1.2px;
  color: rgb(147, 147, 147);
}

/* =====================  EDIT BUTTONS ======================== */

.edit-btn,
.save-btn,
.cancel-btn {
  visibility: hidden;

  position: absolute;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 10px;
  font-size: .8rem;
  color: hsl(185, 75%, 14%);
  background-color: rgb(25, 162, 174);
  border: 1.7px solid hsl(185, 75%, 29%);
  border-radius: 50%;
  transition: transform 350ms, background-color 200ms;
}

.edit-btn {
  left: 10px;
  z-index: 3;
}

.edit-btn:hover,
.save-btn:hover,
.cancel-btn:hover{
  background-color: hsl(185, 75%, 42%);
}

.edit-btn:active,
.save-btn:active,
.cancel-btn:active{
  background-color: hsl(185, 75%, 35%);
}

.save-btn {
  z-index: 2;
}

.cancel-btn {
  z-index: 1;
}